@import "variables";

@mixin logo {
        color: $primary-color;
    font-size: 1.5rem;
    font-weight: 500;
    font-family: "Montserrat Alternates",sans-serif;
    text-decoration: none;

    span {
        color: $secondary-color;
    font-weight: 700;
    }
}



/* Navbar */
section .nav-section{
    background-color: #212121;
}

nav {
    background-color: #121212;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 5%;
    height: 60px;
}

.nav-section{
    height: 100vh;
    background: radial-gradient(
        circle at center,
        rgba(18,18,18,0.8) 0%,
        rgba(18,18,18,0.9) 60%,
        rgba(18,18,18,1) 100%
    ), url(../Imagene/gallery3.jpg);
    background-size: cover;
    background-position: center;

    nav{
         background-color: #121212b6;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 5%;
        height: 60px;
    }
}


.logo{

  @include logo(); 
}


nav .nav-links{
    display: flex;
    list-style: none;


    a{
     text-decoration: none;
    color: #a8a8a8;
    padding: 10px 20px; 
    transition: 0.4s;  
    }

    .button-carrito{
        background-color: $secondary-color;
    color: $primary-color;
    border-radius: 30px;
    transition: 0.8s;
    }
}

nav ul li a:hover{
    color: $primary-color;
    transition: 0.6s;
}

nav .nav-links .button-carrito:hover{
    background-color: #be5d20;
    transition: 0.6s;
}

/* Adicional Responsive */
.menu-responsive {
    cursor: pointer;
    opacity: 0.6;
    display: none;
    transition: all 0.3s ease;

    span{
        height: 3px;
        width: 30px;
        margin: 5px;
        background-color: $primary-color;
        border-radius: 10px;
        display: block;
    }
}

/* Nav Content */

.nav-section .nav-content {
    height: 75vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    max-width: 1200px;
    width: 90%;
    gap: 30px;
    margin: auto;
    font-size: 1.2rem;
    text-align: center;
    color: #a8a8a8;

    h2{
        font-size: 3.5rem;
    color: $primary-color;

    span{
        color: $secondary-color; 
    }
    }
}

/* Process-Section */
.process-header .process-container{
    margin: auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 15px;
    place-items: center;
    background-color: #e0d8c7;
    padding: 15px; 
 
    .process-left img{
    width: 100%;
    height: 400px;
    object-fit: cover;
    border-radius: 15px;
    padding: 5px;
 }

 .process-right{
    padding: 0 20px;
    
    h2{
        font-size: 2rem;
        font-weight: 500;
        margin-bottom: 10px;  
    }
    
    h3{
        font-size: 1.8rem;
        font-weight: 500;
        margin-bottom: 10px; 
    }
    p{
        font-size: 1.1rem;
        margin-bottom: 10px;  
    }
 }
    
}


.process-header h2{
    font-size: 2rem;
    text-align: left;
}

div .process-title span{
    color: $secondary-color;
}

