@import "../variables/variables";


/* Nosotros */
.us-section {
    height: 85vh;
    background: url(../imagenes/coffee5.jpg);
    background-image: cover;
    background-position: center;
    padding: 80px 20px;
    color: #ffffff;
    text-align: center;

    .us-container{
        max-width: 1000px;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        gap: 40px;
        align-items: center;

        h2{
            font-size: 3rem;
            color: rgb(252, 252, 252);
            margin-bottom: 30px; 

            span{
               color: $secondary-color; 
            }
        }
    }

    .us-mision {
        background-color: rgba(0, 0, 0, 0.8);
        padding: 30px;
        border-radius: 15px;
        max-width: 800px;
        width: 100%;
        box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);

        h3{
            font-size: 1.8rem;
            color: $secondary-color;
            margin-bottom: 10px;  
        }

        p{
            font-size: 1.1rem;
            color: #f1f1f1;
            line-height: 1.6;
            text-align: justify;  
        }
    }

    .us-vision{
        background-color: rgba(0, 0, 0, 0.8);
        padding: 30px;
        border-radius: 15px;
        max-width: 800px;
        width: 100%;
        box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);

        h3{
            font-size: 1.8rem;
            color: $secondary-color;
            margin-bottom: 10px;
        }

        p{
            font-size: 1.1rem;
            color: #f1f1f1;
            line-height: 1.6;
            text-align: justify;
        }
    }
}


/* Nosotros Responsive */
@media(max-width:1024px){
    .us-section {
        height: 120vh;
    }
}